api.h2orta.agr.br {
    # redireciona raiz para swagger
    @root {
        path /
    }
    redir @root /swagger-ui/index.html 302

    # proxy todo o resto para a app
    reverse_proxy /* app:8080
}